{{ define "main" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section container-fluid mt-n3 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <img src="./my-github-logo.jpg" alt="Square" class="border-0 rounded-circle">
            <h1 class="mt-0">{{ .Title }}</h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
            <p class="lead">{{ .Params.lead | safeHTML }}</p>
            <!-- <a class="btn btn-primary btn-lg px-4 mb-2" -->
            <!--     href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" -->
            <!--     role="button">{{ i18n "get-started" }}</a> -->
            <p class="meta">Open-source MIT Licensed. <a href="https://github.com/engeir/flottflyt">View the source code
                    on GitHub</a>
            </p>
        </div>
    </div>
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "Norsk" }}
<section class="section container-fluid mt-n3 pb-3">
    <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
            <img src="./my-github-logo.jpg" alt="Square" class="border-0 rounded-circle">
            <h1 class="mt-0">{{ .Title }}</h1>
        </div>
        <div class="col-lg-9 col-xl-8 text-center">
            <p class="lead">{{ .Params.lead | safeHTML }}</p>
            <!-- <a class="btn btn-primary btn-lg px-4 mb-2" -->
            <!--     href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" -->
            <!--     role="button">{{ i18n "get-started" }}</a> -->
            <p class="meta">Åpen og MIT lisensert kode. <a href="https://github.com/engeir/flottflyt">Se kildekoden
                    på GitHub</a>
            </p>
        </div>
    </div>
</section>
{{ end }}
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm bg-collatz" >
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-5">
                <h2 class="h4">Mere?</h2>
                <p>Get inspired to cook something from my personal cookbook over at <a
                        href="https://mere.eirik.re">Mere?</a>.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Photo Gallery</h2>
                <p>Have a sneak peak into some stuff I do in my little gallery at <a
                        href="https://gallery.eirik.re">gallery.eirik.re</a>.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Personal website</h2>
                <p>I also keep a second website going at <a href="https://eirikenger.xyz">eirikenger.xyz</a> where I
                    place stuff that relates more to my work.</p>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-lg-9">
                <h2 class="h4">Projects</h2>
                <p>Sometimes I do some programming in my free time, and sometimes they result in something that can be
                    considered a finished product. You can find them in the <a href="/categories/projects/">Projects</a>
                    cetegory!</p>
            </div>
        </div>
    </div>
    <!-- <section class="section section-featured mt-3 bg-light py-5"> -->
    <div class="container">
        <div class="section-featured mt-3 py-5">
            <h2 class="h2 mt-0 text-center">Linktree</h2>
            <div class="row justify-content-center g-3">
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://github.com/engeir">GitHub</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://mastodon.social/@eirikre">Mastodon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://bsky.app/profile/eirik.re">Bluesky</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://www.linkedin.com/in/eirik-rolland-enger/">LinkedIn</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://www.youtube.com/watch?app=desktop&v=dQw4w9WgXcQ">OnlyFans</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </section> -->
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "Norsk" }}
<section class="section section-sm bg-collatz" >
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-5">
                <h2 class="h4">Mere?</h2>
                <p>La deg inspirere til å lage noe godt fra kokeboken mine over på <a
                        href="https://mere.eirik.re">Mere?</a>.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Photo Gallery</h2>
                <p>Ta en sniktitt på noe av det jeg holder på med fra bilder jeg legger ut på <a
                        href="https://gallery.eirik.re">gallery.eirik.re</a>.</p>
            </div>
            <div class="col-lg-5">
                <h2 class="h4">Personal website</h2>
                <p>Jeg har også en annen nettside på <a href="https://eirikenger.xyz">eirikenger.xyz</a> hvor jeg
                    legger greier mer relatert til jobben.</p>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-lg-9">
                <h2 class="h4">Projects</h2>
                <p>Noen ganger programmerer jeg for rekreasjon, og noen ganger resulterer det i noe som kan anses som
                    et ferdig produkt. Du finner de i <a href="/categories/projects/">Prosjekt</a>
                    kategorien!</p>
            </div>
        </div>
    </div>
    <!-- <section class="section section-featured mt-3 bg-light py-5"> -->
    <div class="container">
        <div class="section-featured mt-3 py-5">
            <h2 class="h2 mt-0 text-center">Lenketre</h2>
            <div class="row justify-content-center g-3">
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://github.com/engeir">GitHub</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://mastodon.social/@eirikre">Mastodon</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://bsky.app/profile/eirik.re">Bluesky</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://www.linkedin.com/in/eirik-rolland-enger/">LinkedIn</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 col-xl-3">
                    <div class="card h-10">
                        <div class="card-body">
                            <h3 class="h4 card-title my-2 text-center"><a
                                    class="card-link stretched-link text-dark text-decoration-none"
                                    href="https://www.youtube.com/watch?app=desktop&v=dQw4w9WgXcQ">OnlyFans</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </section> -->
</section>
{{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<!-- <section class="section section-sm container-fluid"> -->
<!--     <div class="row justify-content-center text-center"> -->
<!--         <div class="col-lg-9"> -->
<!--             {{- .Content -}} -->
<!--         </div> -->
<!--     </div> -->
<!-- </section> -->
{{ end }}

